.border-1px(@color) {
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    content: ' ';
    border-top: 1px solid @color;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleY(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
    }
  }
}
.bg-image(@imgUrl) {
  background-image: ~"url(@{imgUrl}@2x.png)";

  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: ~"url(@{imgUrl}@3x.png)";
  }
}
